<% 
  if @album.artist
    @title = "Album Information: #{@album.artist.name} - #{@album.title}"
  else 
    @title = "Album Information: #{@album.title}"
  end
  @page_actions = [
    lambda { link_to 'Edit', edit_album_path(@album) }
  ]
%>
<p>
  <b>Title:</b>
  <%= @album.title %>
</p>

<p>
  <b>Artist:</b>
  <% if @album.artist %>
    <%= link_to @album.artist.name, @album.artist %>
  <% end %>
</p>

<% songs = @album.songs.sort_by {|s| "%04i %04i" % [(s.disk||1),s.track] } %>
<%= render 'songs/songlist', :songs => songs %>
<%= link_to 'Add placeholder', new_placehold_songs_path( 
  :artist_name => @album.artist ? @album.artist.name : "",
  :album_name => @album.title,
  :track => (@album.songs.map {|song| song.track || 0 }.reduce {|lhs,rhs| lhs > rhs ? lhs : rhs } || 0 ) + 1
) %>
