/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require scaffold.css
 */

div.player_container
{
  position:fixed;
  border: 1px solid black;
  top: 0px;
  right: 0px;
  background-color: white;
}
div.player_container #controls
{
  float:right;
}
div.player_container #now_playing
{
  clear: both;
}
td.spacer
{
  width: 50px;
}

tr.songs:hover
{
  background-color: #CCC;
}
tr.even-song
{
  background-color: #EEE;
}
tr.song_playing {
  background-color: #ADD;
}

td
{
  padding: 0px;
  border-spacing: 0px;
}

tr.songs a
{
  font-size: 12px;
}

/* Menu styling */
.menu, .menu.ul 
{
  list-style: none;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.menu 
{
  float: left;
  width: 100%;
}
.menu > li 
{
  float: left;
}
.menu li a 
{
  display: block;
  height: 2em;
  line-height: 2em;
  padding: 0 1.5em;
  text-decoration: none;
}
.menu ul
{
  position: absolute;
  display: none;
  z-index: 999;
  list-style: none;
  background-color: white;
  margin-top: 1px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.menu ul li a
{
  width: 100px;
}
.menu li:hover ul 
{
  display: block;
}
table
{
  width: 100%;
}

tr:hover
{
  background-color: #CCC;
}
