/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require scaffold.css
 */

html,body
{
  padding: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}
.page-container
{
  min-height: 100%;
  position: relative;
  margin: 0;
}
.page-header
{
  width: 100%;
  padding-left: 10px;
}
.page-body
{
  padding-bottom: 80px;
  padding-left: 20px;
}
.page-footer-container
{
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
}
.page-footer
{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}

div.player_container
{
  position:fixed;
  border: 1px solid black;
  top: 0px;
  right: 0px;
  background-color: white;
}
div.player_container #controls
{
  float:right;
}
div.player_container #now_playing
{
  clear: both;
}

/* Menu styling */
.menu, .menu.ul 
{
  list-style: none;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.menu 
{
  float: left;
  width: 100%;
}
.menu > li 
{
  float: left;
}
.menu li a 
{
  display: block;
  height: 2em;
  line-height: 2em;
  padding: 0 1.5em;
  text-decoration: none;
}
.menu ul
{
  position: absolute;
  display: none;
  z-index: 999;
  list-style: none;
  background-color: white;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.menu ul li a
{
  width: 100px;
}
.menu li:hover ul 
{
  display: block;
}

/* Table styling */
table
{
  width: 100%;
  border-collapse: collapse;
}

tr.songs:hover
{
  background-color: #CCC;
}
tr.even-song
{
  background-color: #EEE;
}
tr.song_playing {
  background-color: #ADD;
}
tr.songs a
{
  font-size: 12px;
}
tr:hover
{
  background-color: #CCC;
}

td
{
  padding: 0px;
  margin: 0px;
  border-spacing: 0px;
}
tr.songs td.c1 {
  width: 3em;
}
tr.songs td.c5 {
  width: 50px;
}
tr.songs td.c6 {
  width: 7em;
}


